@charset "UTF-8";

html{
	background-color: #4d4d4d;
	background: -webkit-radial-gradient(50% 75%,circle,#676767,#343434);
}

body{
	width:80%;
	margin: auto;
	height:100%;
	min-height:100%;
	font-family: segoe ui, Arial, sans-serif;
}




.create-form{
	width: 40%;
	padding: 20px 100px;
	margin: 50px auto;
	border: .5px solid gray;
	border-radius: 10px;
}

.ui-inputfield{
	width: 50%;
}

.form-title{
	margin: auto;
	text-align: center;
	font-size: 2rem;
	font-weight: bolder;
}

.input-group{
	margin-bottom: 10px;
}

.form-button{
	margin:auto;
	text-align: center;
}

.form-button2{
  position: relative;
  bottom: -20px;
}

.logout {
    background-image: url("../assets/001-logout.png");
    background-size: 2rem;
}

.nav1{
	height:100px;

}

.img-logo{
	width: 80px;
	margin-left: 10px;
	margin-top: 10px;
}

.main-form{
	background-color:white; 
}